:root{
    --color-principal: #1C474D;
    --color-secundario: #33A638;
    --color-font-uno: #0B0D17;
    --color-font-dos: #f6f6f6;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.nav_center-buscar{
    margin-left: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    height: 38px;
    padding: 5px;
    background-color: #ffffff;
    outline: none;
    font-size: 17px;
    width: 100%;
}

.nav_center-buscar_boton{
    border: none;
    height: 38px;
    width: 38px;
    border-radius: 0 5px 5px 0;
    background-color: #ffffff;
    /* border-left: firebrick solid 1px; */
    outline: none;
    font-size: 18px;
}
.espace{
    display: flex;
}
.table_icon{
    font-size: 20px;
    margin-left: 10px;
}
.login{
    height: 100vh;
}
.card{
    height: 50vh;
    background-color: #1C474D;
    color: var(--color-font-dos);
    border-radius: 20px;
}
.login_img{
    width: 100%;
    object-fit: scale-down;
    height: 80px;
}
.login_btn{
    width: 100%;
}