<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="rsc/icono.png" />
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- FontAwesome *iconos* -->
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- CSS propio -->
    <link rel="stylesheet" href="css/Navbar.css">
    <link rel="stylesheet" href="css/Footer.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- JavaScript -->
    <script src="js/main.js"></script>
    <title>VeluShop - Inicio</title>
</head>
<body>
    <!-- Navbar normal y responsive -->
    <nav class="navbarshop navbar">
        <div class="nav_info">
            <div class="nav_info-left">
                <p>Envio gratis a todo El Salvador</p>
            </div>
            <div class="nav_info-right">
                <p class="nav_info-items"><i class="fa-solid fa-envelope"></i> Info@velushop.com</p>
                <p><i class="fa-solid fa-phone"></i> 2200-0102</p>
            </div>
        </div>
        <div class="nav_superior">
            <div class="nav_left">
                <a href="index.html"><img src="rsc/logo.png" class="img_nav"></a>
            </div>
            <div class="nav_center">
                <form class="search_nav d-flex">
                    <input class="nav_center-buscar" type="search" placeholder="Buscar">
                    <button class="nav_center-buscar_boton" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="nav_right">
                <a href="html/favs.html"><i class="fa-solid fa-heart favs_nav"></i></a>
                <a href="html/carrito.html"><i class="fa-solid fa-cart-shopping cart_nav"></i></a>
                <a href="#"><i class="fa-solid fa-user user_nav"></i></a>
                <form class="">
                    <a class="btn login_nav" type="button" data-bs-toggle="modal" data-bs-target="#login">Login</a>
                </form>
            </div>
        </div>
        <div class="responsive_nav">
            <a class="navbar-brand" href="index.html">
                <img src="rsc/logo.png" alt="" width="50" height="55">
            </a>
            <div class="responsive_nav-left">
                <form class="">
                    <a class="btn login_nav" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Login</a>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="navbar_responsive">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active navbar_responsive-item" aria-current="page"
                            href="html/favs.html">Lista de
                            favoritos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active navbar_responsive-item" aria-current="page" href="#">Carrito de
                            compras</a>
                    </li>
                </ul>
                <form class="search_nav d-flex mb-3">
                    <input class="nav_center-buscar" type="search" placeholder="Buscar">
                    <button class="nav_center-buscar_boton" type="submit"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
        <div class="modal fade" id="login" tabindex="-1" aria-labelledby="login" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="login">Iniciar secion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <img src="rsc/logo.png" class="login_img" alt="">
                            <div class="mt-4 mb-1">
                                <label for="user" class="form-label">Username</label>
                                <input type="email" class="form-control" id="user" placeholder="nombre de usuario">
                              </div>
                              <div class="mb-3">
                                <label for="passw" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="passw" placeholder="Contraseña">
                            </div>
                            <a class="btn btn-primary login_btn" type="button" href="html/manejo_productos.html">Inicia sesión</a>
                        </div>
                    </div>
                    <div class="modal-body">
                        <a type="button" class="btn btn-link" data-bs-toggle="modal"
                            data-bs-target="#registrar">Registrate aqui</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="registrar" tabindex="-1" aria-labelledby="registrar" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registrar">Registrar usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="container">
        <div class="row justify-content-between mt-3 mb-3">
            <div class="col-12 a">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../index.html">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="categoria.html">Perros</a></li>
                    <li class="breadcrumb-item active">Lista de favoritos</li>

                </ol>
            </div>
            <div class="col-12 col-md-6">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                        <li class="page-item active"><a class="page-link" href="categoria.html">1</a></li>
                        <li class="page-item"><a class="page-link" href="Productos2.html">Siguiente</a></li>
                    </ul>
                </nav>
            </div>
        <hr>
        <section class="row favoritos mt-4 mb-5">
            <h2 class="encabezado text-center mb-5">Productos</h2>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="velucard">
                    <a href="detalle.html"><img src="rsc/detalle4.jpg" class="velucard_img" alt=""></a>
                    <div class="velucard_body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title"> Tyrannosaurus Dental de Nylon para Perros </h5>
                            </div>
                            <div class="col-2">
                                <i class="fa-regular fa-heart favs" id="icon1" onclick="addFavs(this,icon12)"></i>
                                <i class="fa-solid fa-heart favs inactive" id="icon12" onclick="removeFavs(this,icon1)"></i>
                            </div>
                        </div>
                        <h6 class="card-subtitle mt-2 mb-2 text-muted">$15.33</h6>
                        <a class="btn card_button">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="velucard">
                    <a href=""><img src="rsc/ComidaPerro1.jfif" class="velucard_img" alt=""></a>
                    <div class="velucard_body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">Comida para perro</h5>
                            </div>
                            <div class="col-2">
                                <i class="fa-regular fa-heart favs" id="icon1" onclick="addFavs(this,icon12)"></i>
                                <i class="fa-solid fa-heart favs inactive" id="icon12" onclick="removeFavs(this,icon1)"></i>
                            </div>
                        </div>
                        <h6 class="card-subtitle mt-2 mb-2 text-muted">$25.00</h6>
                        <a class="btn card_button">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="velucard">
                    <a href=""><img src="rsc/ComidaGato1.jpg" class="velucard_img" alt=""></a>
                    <div class="velucard_body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">Comida para gato</h5>
                            </div>
                            <div class="col-2">
                                <i class="fa-regular fa-heart favs" id="icon1" onclick="addFavs(this,icon12)"></i>
                                <i class="fa-solid fa-heart favs inactive" id="icon12" onclick="removeFavs(this,icon1)"></i>
                            </div>
                        </div>
                        <h6 class="card-subtitle mt-2 mb-2 text-muted">$20.00</h6>
                        <a class="btn card_button">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="velucard">
                    <a href=""><img src="rsc/ComidaGato2.jpg" class="velucard_img" alt=""></a>
                    <div class="velucard_body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">Comida para gato</h5>
                            </div>
                            <div class="col-2">
                                <i class="fa-regular fa-heart favs" id="icon1" onclick="addFavs(this,icon12)"></i>
                                <i class="fa-solid fa-heart favs inactive" id="icon12" onclick="removeFavs(this,icon1)"></i>
                            </div>
                        </div>
                        <h6 class="card-subtitle mt-2 mb-2 text-muted">$2.00</h6>
                        <a class="btn card_button">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="velucard">
                    <a href=""><img src="rsc/ComidaPez1.png" class="velucard_img" alt=""></a>
                    <div class="velucard_body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">Comida para pez</h5>
                            </div>
                            <div class="col-2">
                                <i class="fa-regular fa-heart favs" id="icon1" onclick="addFavs(this,icon12)"></i>
                                <i class="fa-solid fa-heart favs inactive" id="icon12" onclick="removeFavs(this,icon1)"></i>
                            </div>
                        </div>
                        <h6 class="card-subtitle mt-2 mb-2 text-muted">$10.00</h6>
                        <a class="btn card_button">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="velucard">
                    <a href=""><img src="rsc/ComidaReptiles.jfif" class="velucard_img" alt=""></a>
                    <div class="velucard_body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">Comida para reptiles</h5>
                            </div>
                            <div class="col-2">
                                <i class="fa-regular fa-heart favs" id="icon1" onclick="addFavs(this,icon12)"></i>
                                <i class="fa-solid fa-heart favs inactive" id="icon12" onclick="removeFavs(this,icon1)"></i>
                            </div>
                        </div>
                        <h6 class="card-subtitle mt-2 mb-2 text-muted">$12.00</h6>
                        <a class="btn card_button">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="velucard">
                    <a href=""><img src="rsc/DentalFreshGato.png" class="velucard_img" alt=""></a>
                    <div class="velucard_body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">Pasta para gatos</h5>
                            </div>
                            <div class="col-2">
                                <i class="fa-regular fa-heart favs" id="icon1" onclick="addFavs(this,icon12)"></i>
                                <i class="fa-solid fa-heart favs inactive" id="icon12" onclick="removeFavs(this,icon1)"></i>
                            </div>
                        </div>
                        <h6 class="card-subtitle mt-2 mb-2 text-muted">$7.00</h6>
                        <a class="btn card_button">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="velucard">
                    <a href=""><img src="rsc/DentalFreshPerro.jfif" class="velucard_img" alt=""></a>
                    <div class="velucard_body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">Pasta para perro</h5>
                            </div>
                            <div class="col-2">
                                <i class="fa-regular fa-heart favs" id="icon1" onclick="addFavs(this,icon12)"></i>
                                <i class="fa-solid fa-heart favs inactive" id="icon12" onclick="removeFavs(this,icon1)"></i>
                            </div>
                        </div>
                        <h6 class="card-subtitle mt-2 mb-2 text-muted">$6.00</h6>
                        <a class="btn card_button">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footershop">
        <div class="footershop_container">
            <div class="footershop_column">
                <h4 class="text-left footershop_column-title">VeluShop</h4>
                <p class="footershop_text">Oficinas Administrativas: Av. Las Magnolias, Edificio Insigne, local 501.
                    Colonia San Benito. San Salvador, El Salvador, Centroamérica</p>
            </div>
            <div class="footershop_column">
                <h4 class="text-left footershop_column-title">Soporte</h4>
                <h6 class="text-left footershop_column-item"><a href="#" class="footershop_column-items">Centro de
                        ayuda</a></h6>
                <h6 class="text-left footershop_column-item"><a href="#" class="footershop_column-items">Politica de
                        rembolso</a></h6>
                <h6 class="text-left footershop_column-item"><a href="#" class="footershop_column-items">Community
                        Guidelines</a></h6>
            </div>
            <div class="footershop_column">
                <h4 class="text-left footershop_column-title">Metodos de pago</h4>
            </div>
        </div>
        <div class="footershop_bottom">
            <p>©Roi VeluShop.com – Todos los derechos reservados 2022</p>
        </div>
    </footer>
</body>
</html>