<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../rsc/icono.png" />
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- FontAwesome *iconos* -->
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- CSS propio -->
    <link rel="stylesheet" href="css/Navbar.css">
    <link rel="stylesheet" href="css/Footer.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/detalle.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/lightslider.css" />
    <style>
        ul {
            list-style: none outside none;
            padding-left: 0;
            margin: 0;
        }

        .demo .item {
            margin-bottom: 60px;
        }

        .content-slider li {
            background-color: #ed3020;
            text-align: center;
            color: #FFF;
        }

        .content-slider h3 {
            margin: 0;
            padding: 70px 0;
        }

        .demo {
            width: 800px;
        }
    </style>
    <!-- JavaScript -->
    <script src="js/main.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/lightslider.js"></script>
    <script>
        $(document).ready(function () {
            $("#content-slider").lightSlider({
                loop: true,
                keyPress: true
            });
            $('#image-gallery').lightSlider({
                gallery: true,
                item: 1,
                thumbItem: 9,
                slideMargin: 0,
                speed: 500,
                auto: true,
                loop: true,
                onSliderLoad: function () {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });
        });
    </script>
    <title>VeluShop - Inicio</title>
</head>

<body>
    <!-- Navbar normal y responsive -->
    <nav class="navbarshop navbar">
        <div class="nav_info">
            <div class="nav_info-left">
                <p>Envio gratis a todo El Salvador</p>
            </div>
            <div class="nav_info-right">
                <p class="nav_info-items"><i class="fa-solid fa-envelope"></i> Info@velushop.com</p>
                <p><i class="fa-solid fa-phone"></i> 2200-0102</p>
            </div>
        </div>
        <div class="nav_superior">
            <div class="nav_left">
                <a href="index.html"><img src="rsc/logo.png" class="img_nav"></a>
            </div>
            <div class="nav_center">
                <form class="search_nav d-flex">
                    <input class="nav_center-buscar" type="search" placeholder="Buscar">
                    <button class="nav_center-buscar_boton" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="nav_right">
                <a href="html/favs.html"><i class="fa-solid fa-heart favs_nav"></i></a>
                <a href="#"><i class="fa-solid fa-cart-shopping cart_nav"></i></a>
                <a href="#"><i class="fa-solid fa-user user_nav"></i></a>
                <form class="">
                    <a class="btn login_nav" type="button" data-bs-toggle="modal" data-bs-target="#login">Login</a>
                </form>
            </div>
        </div>
        <div class="nav_inferior navbar-expand-lg">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link nav_especies dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Especie
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item nav_categorias" href="categoria.html">Categoria</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="responsive_nav">
            <a class="navbar-brand" href="index.html">
                <img src="rsc/logo.png" alt="" width="140" height="65">
            </a>
            <div class="responsive_nav-left">
                <form class="">
                    <a class="btn login_nav" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Login</a>
                </form>
                <button class="navbar-toggler responsive_nav-icon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar_responsive" aria-controls="navbar_responsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar_responsive">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active navbar_responsive-item" aria-current="page"
                            href="html/favs.html">Lista de
                            favoritos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active navbar_responsive-item" aria-current="page" href="#">Carrito de
                            compras</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbar_responsive-item" href="#" id="navbar_especie"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Especie
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar_especie">
                            <li><a class="dropdown-item" href="categoria.html">Categoria</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="search_nav d-flex mb-3">
                    <input class="nav_center-buscar" type="search" placeholder="Buscar">
                    <button class="nav_center-buscar_boton" type="submit"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
        <div class="modal fade" id="login" tabindex="-1" aria-labelledby="login" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="login">Iniciar secion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <a type="button" class="btn btn-link" data-bs-toggle="modal"
                            data-bs-target="#registrar">Registrate aqui</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="registrar" tabindex="-1" aria-labelledby="registrar" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registrar">Registrar usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="container">
        <!-- Breadcrumb -->
        <div class="row mt-3 mb-3">
            <div class="col-12 a">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="categoria.html">Productos</a></li>
                    <li class="breadcrumb-item active">Lista de favoritos</li>
                </ol>
            </div>
            <hr>
        </div>
        <!-- Detalles -->
        <section class="row">
            <div class="col-12 col-md-6 mb-3">
                <div class="item">
                    <div class="clearfix" style="max-width:474px;">
                        <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                            <li data-thumb="rsc/detalle.jpg">
                                <img src="rsc/detalle3.jpg" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 detalle">
                <h3 class="detalle_titulo">Tyrannosaurus Dental de Nylon para Perros Aliento Fresco - Nylabone® Dental
                    Chew</h3>
                <span class="pill-active mt-4">Disponible</span><span class="pill inactive mt-4">Agotado</span>
                <h3 class="detalle_precio mt-3">$15.33</h3>
                <p class="detalle_texto">Los huesos de carnaza son malos para la salud de tu perro por muchas razones,
                    por eso te invitamos a que pruebes entretenerlos con juguetes hechos a base de Nylon. </p>
                <div class="row align-items-center mb-5">
                    <div class="col-4 number_background">
                        <button class="number_button" id="decrement" onclick="stepper(this)"> - </button>
                        <input class="number" type="number" min="1" max="50" step="1" value="1" id="my-input" readonly>
                        <button class="number_button" id="increment" onclick="stepper(this)"> + </button>
                    </div>
                    <div class="col-4">
                        <a class="btn card_button">Comprar ya</a>
                    </div>
                    <div class="col-4">
                        <a class="btn card_button">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tabs -->
        <section class="row">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                        type="button" role="tab" aria-controls="pills-home" aria-selected="true">Especificaciones</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                        type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Comentarios</button>
                </li>
            </ul>
            <!-- Tabs -->
            <div class="tab-content" id="pills-tabContent">
                <!-- Tabla de especificaciones -->
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <table class="table">
                        <thead class="table-dark text-center tabla_head">
                            <th>Ficha de especificaciones</th>
                        </thead>
                        <tbody>
                            <td>
                                Dinosaurio de Nylon (Plástico Rígido) super resistente y durable especial para limpiar dientes y encías de tu perro gracias a su textura, no solo le encantara morderlo y jugar con el sino que le limpiara su dentadura de cualquier resto de comida o mugre dejándolo con un aliento fresco y además es super duradero.
                                Algunos de los beneficios de este juguete para perros es que:
                                <br>
                                <br>
                                <ul>
                                    <li>Vas a evitar que tu perro muerda y destruya otras cosas.</li>
                                    <li>Va a ayudar a que tu perro tenga dientes y encías limpias y sanas.</li>
                                    <li>Promueve un aliento fresco.</li>
                                    <li>Va a mantenerlo entretenido, lo cual también ayuda a controlar ese instinto destructivo.</li>
                                    <li>Será un juguete muy duradero.</li>
                                    <li>Mide 15 cm de largo.</li>
                                    <li>deal para perros de hasta 23 kg.</li>
                                </ul>
                            </td>
                        </tbody>
                    </table>
                </div>
                <!-- Comentarios -->
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="comentarios">
                        <div class="row">
                            <div class="col-10 mb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Rodrigo Hernandez</h5>
                                        <p class="card-text">Muy buen producto de buen calidad</p>
                                        <h6 class="card-subtitle mb-2 text-muted">05/03/2022</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 mb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Marco Gonzalez</h5>
                                        <p class="card-text">podria ser un poco mas barato</p>
                                        <h6 class="card-subtitle mb-2 text-muted">05/03/2022</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 mb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Josue Campos</h5>
                                        <p class="card-text">Exelente producto</p>
                                        <h6 class="card-subtitle mb-2 text-muted">05/03/2022</h6>
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    <footer class="footershop">
        <div class="footershop_container">
            <div class="footershop_column">
                <h4 class="text-left footershop_column-title">VeluShop</h4>
                <p class="footershop_text">Oficinas Administrativas: Av. Las Magnolias, Edificio Insigne, local 501.
                    Colonia San Benito. San Salvador, El Salvador, Centroamérica</p>
            </div>
        </div>
        <div class="footershop_bottom">
            <p>©Roi VeluShop.com – Todos los derechos reservados 2022</p>
        </div>
    </footer>
    <script src="js/script.js"></script>
</body>

</html>